@import url(https://fonts.googleapis.com/css?family=Life+Savers:700);

@font-face {
    font-family: "Cavier Dreams";
    src: url("../font/CaviarDreams.ttf");
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #282828;*/
    z-index: 1;
}
canvas {
    display: block;
    vertical-align: bottom;
}



#fullscreen {
    display: flex;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background:rgba(00, 00, 05, 0.9);
}

#top {
    margin: 0px auto;
    text-align: center;

}

#bottom {

    margin: 0px auto;
    text-align: center;
}

#contact {
    text-align: center;
    background-color: #FF1744;
    padding: 20px 0px 40px 0px;
}

#h1top {
    color: white;
    font-family: 'Cavier Dreams', cursive;
    font-weight: 400;
    font-size: 5em;
}

#h3top {
    color: #f1196f;
    font-family: 'Cavier Dreams', cursive;
    font-weight: 600;
    font-size: 3em;

}

#h2top {
    color: #f23d5d;
    font-family: 'Life Savers', cursive;
    font-weight: 500;
    font-size: 4em;
}

#h1contact {
    color: #ffffff;
    font-family: 'Cavier Dreams', cursive;
    font-weight: 400;
    font-size: 3.5em;
}

#typeformbutton {
    text-align: center;

}

.btn {
    background-color: #ffffff;
    border-color: #169AEB;
    color: #169AEB;
}

.btn:hover, .btn.active:focus {
    background-color: #169AEB;
    color: white;
    border-color: white;
}

#linkbutton {
    vertical-align: middle;
    font-family: monospace;
    background-color: cyan;
}

#center {
    /*float: none;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    z-index: 100;
}

.contact-info {
    font-size: 30px;
    text-align: center;
    z-index: 100;

}

.contact-info .item {
    display: inline-block;
    color: white;
}

.contact-info .item a {
    padding: 0 5px;
}

.fa {
    color: white;
}

.fa:hover {
    color: #efefef;

}

.typed-cursor {
    opacity: 1;
    color: #169AEB;
    font-family: 'Life Savers', cursive;
    font-weight: 700;
    font-size: 3em;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
